[submodule "WinCompatibleMoses"]
	path = WinCompatibleMoses
	url = https://github.com/miguelemosreverte/WinCompatibleMoses
[submodule "TTT_public_folder"]
	path = public/TTT_public_folder
	url = https://github.com/miguelemosreverte/TTT_public_folder
[submodule "public/TTT_public_folder"]
	path = public/TTT_public_folder
	url = https://github.com/miguelemosreverte/TTT_public_folder
